.wrapper {
}

.titleWrapper {
  padding: 100px 0 60px 0;
  background: url('../../assets/icon/home/bg-title-dark.svg');
  background-size: 142%;
  background-position-x: -275px;
  background-position-y: -30px;
}

:global(.light) .titleWrapper {
  background: url('../../assets/icon/home/bg-title.svg');
}

.titleBlock {
  max-width: 900px;
  padding-bottom: 80px;
}
.titleBlockTitle {
  font-size: 96px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.titleBlockSubtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 149%;
  text-align: center;
  max-width: 600px;
}
.supportedLableBlock {
  padding: 0 20px 0 40px;
}
.supportedBlockIcon {
  width: 168px;
  height: 63px;
  object-fit: contain;
}
.titleButtons {
  width: 406px;
  flex: 1 1 auto;
  padding-bottom: 60px;
}
.supportedBlock {
  padding: 10px 0;
}
.howWrapper {
  padding: 76px 0 43px 0;
}

.howTitle {
  font-size: 48px;

  font-weight: 600;
  line-height: 100%;
  padding-bottom: 26px;
}
.howSubitle {
  flex: 1 1 auto;
  max-width: 600px;
}

.exampleWrapper {
  padding: 100px 0;
  width: 100%;
}
.exampleTitle {
  font-size: 48px;

  font-weight: 600;
  line-height: 100%;
  padding-bottom: 40px;
}
.exampleTitleColor {
  color: #db504a;
}

.powerItem {
  max-width: 407px;
}
.powerImg {
  padding-bottom: 10px;
}
.powerTitle {
  padding: 20px;
  padding-bottom: 0;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}
.powerText {
  padding: 20px;
}
.feature1 {
  padding-bottom: 40px;
  .exampleTitle {
    padding-bottom: 0;
  }
}
.featureWrapper {
  padding-top: 100px;
}

.featureTextBlock {
  width: 406px;
  margin-left: 40px;
}
.featureText {
  width: 308px;

  font-size: 16px;

  font-weight: 400;
  line-height: 149%;
}

.featureLink {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
    transform: scale(1.2);
  }
}
.featureId {
  width: 406px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 36px;

  font-weight: 600;
  line-height: 149%;
  height: 240px;
  border-radius: 10px;
  border: 1px solid rgba(48, 48, 48, 0.8);
}

:global(.light) .featureId {
  background: radial-gradient(
    66.37% 55.29% at 49.88% 40.83%,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow:
    0px 11px 25px 0px rgba(0, 0, 0, 0.1),
    0px 3px 3px 0px rgba(0, 0, 0, 0.09),
    0px 1px 1px 0px rgba(0, 0, 0, 0.05),
    0px 7px 2px 0px rgba(0, 0, 0, 0.01),
    0px 1px 1px 0px rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  background: #e3e8eb;
}

.featureItem {
  width: 406px;
  padding: 20px;
  height: 240px;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    border: 1px solid rgba(48, 48, 48, 0);

    background: radial-gradient(
      66.37% 55.29% at 49.88% 40.83%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );

    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 45px 45px 0px rgba(0, 0, 0, 0.09),
      0px 101px 60px 0px rgba(0, 0, 0, 0.05),
      0px 179px 72px 0px rgba(0, 0, 0, 0.01),
      0px 279px 78px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
  }
}

:global(.light) .featureItem {
  &:hover {
    border: 1px solid rgba(48, 48, 48, 0);
    background: #e3e8eb;
  }
}

.featureItemTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 20px;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 18px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    background: #db504a;
  }
}

.featureImg {
  width: 406px !important;
}

.featureImgXl {
  width: auto !important;
  max-width: 200px !important;
  height: 240px;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  padding-top: 50px;
}

.featureItemsBlock {
  flex-wrap: wrap;
}
.feature2 {
  .featureItemsBlock {
    width: 66%;
  }
}

.feature3 {
  .featureItemsBlock {
    width: 406px;
  }
}

.feature4 {
  .featureItemsBlock {
    width: 66%;
  }
}

.featureGet {
  padding: 100px 0;
  width: 100%;
  // background-image: url('../../assets/icon//home/net.svg');
}

:global(.light) .featureGet {
  background-image: url('../../assets/icon/home/bgGet.svg');
  background-size: 100%;
  background-position-x: -20px;
  background-position-y: -180px;
}

.getTitle {
  padding-bottom: 40px;
}
.getSubtitle {
  width: 295px;
}
@media not all and (min-width: 904px) {
  .featureImgXl {
    display: none;
  }
  .featureItem {
    width: 320px;
  }
  .featureId {
    width: 320px;
  }
}

@media not all and (min-width: 720px) {
  .featureItem {
    width: 100%;
  }
  .featureId {
    width: 100%;
  }
  .titleButtons {
    flex-direction: column;
    align-items: center;
  }
  .exampleTitle {
    font-size: 34px;
  }
  .feature1 {
    width: 80%;
  }
  .feature2 {
    width: 80%;
  }
  .feature3 {
    width: 80%;
  }
  .feature4 {
    width: 80%;
  }
}
