

.linkBlock{
flex: 1 1 auto;
max-width: 277px;
}

.linkHover{
  transition: all 0.2s ease;
  &:hover{

    transition: all 0.2s ease;
    transform: scale(1.2);
  }
}
.mode{
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover{

    transition: all 0.2s ease;
    transform: scale(1.2);
  }
}