.wrapper {
  padding: 20px 0;
}
.copy {
  width: 306px;
}
.copyUnderline {
  text-decoration: underline;
}
.links {
  width: 360px;
}

.img {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    transform: scale(1.2);
  }
}
